@import '_fonts.scss';
.sruti-box{
  font-family:'latoblack';
  box-sizing:border-box;
  border-radius:10px;
  padding:50px 50px 50px 50px;
  width:600px;
  background:url(../images/wood-light.jpg);
  display:none;
  @import '_normalize.scss';
  @import '_jquery-ui.scss';
  
  h2 {
    font-family:'latohairline';
    text-transform:uppercase;
    color:darken(#b3ba1c,7%);
    font-size:40px;
    padding:0;
    margin:0 0 20px 0;
  }
  
  .note-picker{
    width:500px;
    margin-bottom:20px;
  }
  .note-picker-labels{
    width:600px;
    label{
      width:38.3px;
      display:inline-block;
    }
  }
  .tempo-labels{
    font-family:'latolight';
    text-transform:uppercase;
    width:500px;
    height:1em;
    label{
      width:40%;
      display:inline-block;
    }
  }
  .tempo-slider{
    width:500px;
    margin-bottom:25px;
  }
  button{
    background:#b3ba1c;
    border:1px solid darken(#b3ba1c,3%);
    border-radius:5px;
    padding:5px 10px;
    color:#fff;
    text-transform:uppercase;
    margin-right:20px;
    &:focus{
      outline:none;
    }
    &.on{
      background:lighten(#b3ba1c,7%);
      border:1px solid lighten(#b3ba1c,20%);
      box-shadow:0 0 10px 10px rgba(255,255,255,0.3);
    }
  }
  
  .ui-slider{
    margin-top:5px;
    height:1px;
    background:#000;
    border-color:#000;
    .ui-slider-handle{
    width:2px;
    height:7px;
    margin-left:0;
    background:#b3ba1c;
    border-color:#b3ba1c;
    &::after{
      display:block;
      position:absolute;
      content:'';
      border:10px solid transparent;
      border-bottom:15px solid #b3ba1c;
      top:-5px;
      left:-9px;
    }
    &:focus{
      outline:none;
    }
  }
  }
  
}


